# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env
.env.local

# Compiled files
dist/

# Editor directories and system files
.idea/
.vscode/
.DS_Store
Thumbs.db
